body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img-PEDRO/Fondo-CV.jpg");
  justify-content: center;
  display: flex;    /* Usamos flex para organizar los elementos dentro */
  top: 0px;
  left: 0px;
  width: 100%;      /* Se ajusta al ancho completo de la pantalla */
  background: #33b5ff 0% 0% no-repeat padding-box;  /* Color de fondo azul */
  opacity: 1;
  height: 60px;
}

/* Estilo para el h1 dentro del header */
.header-title {
  top: 7px;
  left: 530px;
  width: 221px;
  margin: 0;  /* Elimina márgenes predeterminados */
  font: normal normal medium 50px/59px Raleway;
  text-align: center;  
  letter-spacing: 0px;  /* Sin espaciado adicional entre letras */
  color: #FFFFFF;  /* Color del texto en blanco */
  opacity: 1;  /* Texto completamente visible */
  padding-top: 10px;
}


/* Estilo para la sección principal (hero) */
.hero {
  display: flex;
  align-items: center;
  background-color: #33b5ff;
  display: flex;
  justify-content: space-between; /* Asegura que los elementos se distribuyan uniformemente */
  align-items: center; /* Alinea los elementos verticalmente al centro */

}

/* Footer */
footer {    
  background: #24180228 0% 0% no-repeat padding-box;
  color: white;
  text-align: center;
  padding: 20px;
}
